<h3>Portfolio: <%= @portfolio.name %></h3>
<p> Settlement Value:<%= @portfolio.settlement_value %></p>
<p> Portfolio Value:<%= @portfolio.value %></p>
<p><%= "Absolute return: #{(@portfolio.value/@portfolio.settlement_value-1)*100}%" %></p>
<p><%= @portfolio. %></p>



